@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 2rem;
}

.module {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 2rem;
}

.navbar {
  width: 100vw;
}

.title {
  padding: 1rem 2rem;
}

.title-1 {
  color: #498c01;
}

.title-2 {
  color: #aaaaaa;
}

.title-3 {
  color: #d66209;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  gap: 2rem;
}

.left {
  flex: 1;
}

.center {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-state.aztec {
  fill: #d66209;
}

.map-state.maya {
  fill: #498c01;
}

.map-state:hover {
  fill: #555555;
}

.map-state.selected {
  fill: darkcyan;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.map-info__info {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.map-info__info-tag {
  display: flex;
  justify-content: space-between;
}

.map-info__faction-selector-container {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
}

.map-info__faction-selector-option {
  flex: 1;
  text-align: center;
  font-weight: 600;
  border-radius: 1rem;
}

.map-info__faction-selector-option.selected {
  background-color: #cccccc;
}

.lower {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  gap: 2rem;
}

.timer {
  flex: 1;
}

.techtree {
  flex: 5;
}
